@{
    ViewBag.Title = Resource.Titulo;
}

<div class="jumbotron">
    <h1>@Resource.Titulo</h1>
    <p class="lead">@Resource.StringAmigo</p>
    <p><a href="http://localhost:54321/Amigo/" class="btn btn-primary btn-large">@Resource.Acceso <b>@Resource.Titulo</b> &raquo;</a></p>
</div>
