@{
    ViewBag.Title = HomeResource.HomeResource.Titulo;
}

<div class="jumbotron">
    <h1>@HomeResource.HomeResource.Titulo</h1>
    <p class="lead">@HomeResource.HomeResource.StringAmigo</p>
    <p><a href="http://localhost:54321/Amigo/" class="btn btn-primary btn-large">@HomeResource.HomeResource.Acceso <b>@HomeResource.HomeResource.Titulo</b> &raquo;</a></p>
</div>
